body{
    background-color: rgb(179, 52, 52);
    ;
}

h1{
    transition: 20s;
    color: aqua;
    opacity: 1;
}
h2{
        transition: 15s;
    color: rgb(25, 0, 255);
    opacity: 1;
}
h3{
        transition: 10s;
    color: rgb(0, 255, 38);
    opacity: 1;
}
h4{
    transition: 5s;
    color: rgb(0, 255, 234);
    opacity: 1;
}
